.background-image {
    background-image: url('stopwatch.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding-left: 10%; 
}

.stopwatch-container {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 150%; 
    padding: 20px;
}

.stopwatch {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 150%; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}
